.app.dark {
  background-color: #111;
  color: #FFFFFF;

  .chartGrid {
    stroke: rgb(255, 255, 255);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: #FFFFFF;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #FF7400;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #FF7400;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: #FFFFFF;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: #ff7300;
        border: none;
      }
    }
  }

  input{
      background-color: #FFFFFF;
  }
}
